.Items {
  display: flex;
  flex-flow: wrap;
}

.Item {
  margin: 5px;
  width: 200px;
  height: 200px;
  padding: 8px;
  background: #000000;
  border-radius: 4px;


  &_isActive {
    box-shadow: 0 0 8px 8px #ffaa00;
  }

  &__container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    border: 1px solid #efefef;
  }

  &__canvas {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__btn {
    position: absolute;
    cursor: pointer;
    border: none;
    border-top: 1px solid #efefef;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
  }
}